# **Python problem for Control Structure**

---

### **LOOPS (Iteration-based problems)**

1. **Daily Gas Fee Average**  
    *Description:* Calculate the average gas fee from a list of daily Ethereum gas fees.  
    *Input:* List of gas fees (e.g., \[30, 40, 35, 50, 45\])  
    *Output:* Average gas fee (e.g., 40.0)

In [20]:
# for loop

gas_fees = [30, 40, 35, 50, 45]

total = 0

for fee in gas_fees:
    total += fee
    
# print(total)


num = len(gas_fees)


average = total / num

print(average)

40.0

In [21]:
# while loop

gas_fees = [30, 40, 35, 50, 45]

total = 0
i = 0

while i < len(gas_fees):
    total += gas_fees[i]
    i += 1

num = len(gas_fees)
average = total / num

print(average)

40.0

2. **Highest Daily Transaction Count**  
    *Description:* Find the day with the highest number of transactions on a blockchain.  
    *Input:* List of daily transaction counts (e.g., \[1200, 1400, 1350, 1600, 1100\])  
    *Output:* Day with the highest transaction count (e.g., Day 4\)

In [25]:
# for loop

daily_tx_count = [1200, 1400, 1350, 1600, 1100]

highest_tx = max(daily_tx_count)

day = 0

for x in daily_tx_count:
    day += 1
    if x == highest_tx:
        break

        # print(f"Day {day} had the highest transaction count: {highest_tx}")
# print(f"Day {day} had {x} transactions")
print(f'Day {day}')

Day 4

In [26]:
# while loop

daily_tx_count = [1200, 1400, 1350, 1600, 1100]

highest_tx = max(daily_tx_count)

day = 0
i = 0

while i < len(daily_tx_count):
    day += 1
    if daily_tx_count[i] == highest_tx:
        break
    i += 1

print(f'Day {day}')

Day 4

3. **Find Token Min/Max Price**  
    *Description:* Determine the lowest and highest price of a token over a week.  
    *Input:* List of prices (e.g., \[2.1, 2.5, 2.0, 2.8, 2.6\])  
    *Output:* Min: 2.0, Max: 2.8

In [23]:
# for loop

prices = [2.1, 2.5, 2.0, 2.8, 2.6]


min_price = prices[0]
max_price = prices[0]


for price in prices:
    if price < min_price:
        min_price = price
    if price > max_price:
        max_price = price

print("Min:", str(min_price) + ",", "Max:", max_price)

Min: 2.0, Max: 2.8

In [22]:
# while loop

prices = [2.1, 2.5, 2.0, 2.8, 2.6]


min_price = prices[0]
max_price = prices[0]


i = 0


while i < len(prices):
    price = prices[i]
    if price < min_price:
        min_price = price
    if price > max_price:
        max_price = price
    i += 1

print("Min:", str(min_price) + ",", "Max:", max_price)

Min: 2.0, Max: 2.8

### Just playing around with `for` and `while` loops

In [27]:
for i in range(11):
    print(i)  


print('----------')


i = -1
while True:
    i += 1
    if i == 11:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
----------
0
1
2
3
4
5
6
7
8
9
10

In [29]:
counter = 0
while counter < 3:
    counter += 1
    print("Counting...:", counter)


print('-------or-------')

num = 0
counter = num
while counter < 4:
    counter += 1
    if counter == 4:
        break
    print("Counting...:", counter)


print('-------or (using for loop)-------')


for counter in range (1,4):
    print("Counting...:", counter)

Counting...: 1
Counting...: 2
Counting...: 3
-------or-------
Counting...: 1
Counting...: 2
Counting...: 3
-------or (using for loop)-------
Counting...: 1
Counting...: 2
Counting...: 3

In [21]:
credit_card = "1234-5678-9876-5432"

for x in credit_card:
    if x == '-':
        continue
    print(x)
        #   , 
        #   end='')

print('---------------------')


credit_card = "1234-5678-9876-5432"

for x in credit_card:
    if x == '-':
        continue
    print(x, end='')

1
2
3
4
5
6
7
8
9
8
7
6
5
4
3
2
---------------------
1234567898765432

In [23]:
for x in reversed(range (1, 11)):
    print(x)
print("Happy new yearðŸŽ‰ðŸ¥³")

10
9
8
7
6
5
4
3
2
1
Happy new yearðŸŽ‰ðŸ¥³